doctype
html

  include bits/ascii

  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel="apple-touch-icon", sizes="57x57", href="/apple-touch-icon-57x57.png")
    link(rel="apple-touch-icon", sizes="60x60", href="/apple-touch-icon-60x60.png")
    link(rel="icon", type="image/png", href="/favicon-16x16.png", sizes="16x16")
    link(rel="icon", type="image/png", href="/favicon-32x32.png", sizes="32x32")
    meta(name="msapplication-TileColor", content="#da532c")

    link(rel='stylesheet', href='/css/front-end/index.css')

    block title
      title #{properties.title}

  body

    header.container
      h1.blog-title
        a(href='/') Isabelle Smillie

      ul
        li Overview
        li Photography
          ul
            li Portfolio One
            li Portfolio Two
            li Projects
        li Illustration & Design
        li About

      p.footnote 2015 Isabelle Smillie

    .main-content
      block content

    block scripts
      // script(src="/js/lib/jquery-2.1.4.min.js")

      include bits/ga.jade
