extends layout


block content
  style.
    h1 {
      margin-bottom: 15px;
    }
    img {
      float: left;
      padding-right: 10px;
    }

  article

    h1 Hi Bliink.

    img(src='http://news.bbcimg.co.uk/media/images/63229000/jpg/_63229889_63229888.jpg')
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vel nulla eget nulla sagittis ullamcorper. Nunc aliquam adipiscing magna at pellentesque. Nulla in odio nisi. Ut pulvinar consectetur lectus, a pellentesque magna gravida ac. Duis vulputate est ut velit fermentum, eget bibendum erat malesuada. Curabitur malesuada libero vitae orci auctor, sed consequat risus sagittis. Fusce gravida nibh vel lacinia consequat. Morbi felis dolor, rutrum ut odio vitae, porta venenatis nunc. Donec sed diam pulvinar, condimentum tellus non, sollicitudin nisi. Cras sem nisi, placerat vel odio sed, dictum ultrices neque.

    p Curabitur dui diam, mattis at auctor vel, eleifend sed erat. Duis cursus ipsum id consectetur ultrices. Phasellus id quam blandit, egestas eros ut, tempus ipsum. Pellentesque justo sapien, ultrices sed leo eget, tincidunt porta enim. Phasellus ut urna consequat, rutrum enim ut, tempus urna. Quisque vel semper ipsum. Cras bibendum blandit enim, at sollicitudin sem ultrices sit amet. Sed pulvinar est at justo sollicitudin, eget sagittis justo tincidunt. Nullam id tincidunt enim. Fusce quis leo volutpat, elementum risus luctus, blandit odio. Sed lobortis ultricies viverra. Quisque consectetur orci nulla, sit amet volutpat dolor lacinia sit amet. Maecenas lacinia nunc vel lorem rhoncus rhoncus.

    h2 My sweet video

    iframe(width="560", height="315", src="//www.youtube.com/embed/J8nYzV0r-Tg", frameborder="0", allowfullscreen)
    p Suspendisse tempor justo nec porttitor porttitor. Curabitur varius sollicitudin sapien eu fringilla. Vestibulum adipiscing, arcu ut dignissim ornare, urna lorem ultrices urna, dapibus egestas ipsum velit nec ligula. Mauris libero ante, placerat vel imperdiet ac, dignissim ut ligula. Pellentesque gravida varius imperdiet. Donec mollis eu odio et rutrum. Morbi eros ipsum, sodales ut neque id, rutrum consequat quam.
